@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    margin: 0;
    font-family: 'Montserrat';
    background: url('./../img/background.jpg') center / cover no-repeat;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
    width: 1000px;
    margin: 0 auto;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 30pt;
    text-shadow: 0 0 5px rgb(15, 15, 15);
    margin: 0 0 5px 0;
}

#comment-text {
    font-size: 14pt;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0 0 30px 0;
    font-weight: 300;
    transition: 0.5s;
}

#comment-text:is(:hover, :focus) {
    color: royalblue;
    transform: scale(1.5);
    font-weight: bold;
    outline: 0;
}

.indicator-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
    box-sizing: border-box;
}

.indicator-wrapper:hover {
    background-color: rgba(65, 105, 225, 0.2);
}

.indicator-wrapper:hover .indicator {
    box-shadow: 0 0 10px 1px rgb(22, 22, 22);
    background-color: white;
}

.indicator {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    color: white;
    text-align: center;
    text-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.indicator_black {
    /* background-color: rgba(0, 0, 0, 0.6); */
    height: 75px;
    width: 75px;
    font-size: 8pt;
}

.indicator_red {
    /* background-color: rgba(255, 0, 0, 0.6); */
    height: 100px;
    width: 100px;
    font-size: 12pt;
}

.indicator_yellow {
    /* background-color: rgba(255, 255, 0, 0.6); */
    height: 125px;
    width: 125px;
    font-size: 14pt;
}

.indicator_green {
    /* background-color: rgba(1, 198, 1, 0.6); */
    height: 150px;
    width: 200px;
    border-radius: 50px;
    font-size: 16pt;
}

.buttons-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.lifes-count {
    flex: 1 1 33.333%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    color: white;
    text-align: center;
    font-size: 16pt;
    height: 100%;
    margin: 0;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    transition: 0.3s;
}

button {
    flex: 1 1 33.333%;
    display: block;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16pt;
    border: 0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    color: white;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Montserrat';
}

button:is(:hover, :focus),
.lifes-count:is(:hover, :focus) {
    background-color: rgba(65, 105, 225, 0.7);
    color: white;
    transform: scale(1.03);
    outline: 0;
}

button:active {
    transform: scale(0.92);
    transition: 0.1s;
    box-shadow: none;
}

button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.link-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
}

.ilhom-aliyev-icon {
    display: inline-block;
    text-decoration: none;
    font-size: 50px;
    line-height: 0;
    color: white;
    margin: 0 20px 20px 0;
    transition: 0.5s;
}

.ilhom-aliyev-icon:hover,
.ilhom-aliyev-icon:focus {
    color: rgb(65, 105, 225);
    transform: scale(1.1);
    outline: 0;
}

.ilhom-aliyev-icon:active {
    transform: scale(0.92);
    transition: 0.1s;
}